body{
    padding: 0;
    margin: 0;
    overflow:hidden;
    background-color:#666;
}


#phaser-canvas{
    max-width:920px;
    margin: 0px auto;
    background-color: #fff;
}

#canvas{background-color:#fff;}